/* Initial body */

* {
    box-sizing: border-box;
}

body {
    left: 0;
    margin: 0;
    position: relative;
    height: 100%;
    /*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://lsu.edu/_resources/images/visit3.jpeg');
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    */
}


/* Basic styling */

.bg-image1, .bg-image2 {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    position: relative;
}

.bg-image1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('test-img3.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    /*display: block;
    filter: blur(3px);
    -webkit-filter: blur(5px);*/
    height: 100%;
    z-index: 1;
}

.bg-image2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://lsu.edu/_resources/images/visit3.jpeg');
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    height: 100%;
}

.bg-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.bg-container span{
   margin: 0;
   position: absolute;
   opacity: 0;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
}

.container{
    margin-left:20%;
    margin-right:20%;

}

.link-container li {
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
    display: inline-block;
}

.link-container a {
    color: #d8dbe2;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 4;
}

.logo{
    width: 130px;
    height: 130px;
    padding: 10px;
    float:left;
}

.name-label {
    display: inline-block;
    color: #d8dbe2;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 48px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-top: 10px;
    left: 50%;
    top: 40%;
    position: absolute;
    text-decoration: none;
    z-index: 2;
}

.icon-menu {
    display: inline-block;
    color: #d8dbe2;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.icon-menu:hover {
    transform: scale(1.1);
}

.icon-menu i {
    margin-right: 5px;
}

.info {
    height: 400px;
    width: 100%;
    /*background-color: rgba(114, 22,44, 1);*/
    background-color: rgba(4, 102, 85, 1);
}

.back-box {
    width: 100%;
    max-height: 150px;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 3;
}


.link-container {
    position: relative;
    float: right;
    padding: 10px;
    right: 30px;
    top: 30px;
}

.text{
    font-size: 32px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:rgba(179, 179, 179, 1);
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 20px;
}
